/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background: url(../images/bg.png);
  border-top: 5px solid #7e7e7e; }

.wrapper {
  width: 960px;
  margin: 0 auto; }

.logo_top {
  display: block;
  float: left;
  margin-top: 26px; }

.search_form {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 32px;
  box-sizing: border-box;
  float: right;
  margin-top: 27px; }

.search_button {
  background-color: #29c5e6;
  font: 14px Oswald, sans-serif;
  cursor: pointer;
  border: none;
  color: #fff;
  width: 42px;
  outline: none; }

.search_input {
  background-color: #f3f3f3;
  padding: 0 11px;
  width: 158px;
  border: 1px solid #e7e7e7;
  outline: none; }

.top_header {
  height: 86px; }

.top_list_main {
  list-style: none;
  display: flex;
  justify-content: space-around;
  border: 1px solid #e7e7e7; }

.top_list {
  width: 100%;
  text-align: center;
  background-color: #f3f3f3;
  font: bold 14px Oswald, sans-serif; }

.top_list a {
  text-transform: uppercase;
  line-height: 40px;
  color: #b2b2b2;
  text-decoration: none;
  display: block; }

.top_list:hover {
  transition: 0.6s;
  background-color: #29c5e6; }
  .top_list:hover a {
    transition: 0.6s;
    color: #fff; }

.about {
  margin-top: 30px;
  background: url(../images/about1.png);
  height: 32px;
  padding-left: 10px; }

.about_us {
  display: inline-block;
  background: url(../images/bg.png);
  text-transform: uppercase;
  font: 37px Oswald, sans-serif;
  color: #7e7e7e;
  padding: 0 7px;
  line-height: 32px; }

.main_hp {
  margin-top: 30px;
  display: flex;
  justify-content: space-between; }

.side_bar {
  width: 250px; }

.side_list_main {
  background-color: #f3f3f3;
  border: 1px solid #e7e7e7; }

.side_list {
  border: 1px solid #e7e7e7; }
  .side_list a {
    text-transform: uppercase;
    height: 40px;
    display: block;
    text-decoration: none;
    font: bold 14px Oswald, sans-serif;
    line-height: 40px;
    color: #8f8f8f;
    padding-left: 25px; }
  .side_list a:before {
    content: "";
    width: 8px;
    height: 8px;
    background: #8f8f8f;
    position: absolute;
    margin-top: 16px;
    margin-left: -15px; }

.side_list:hover a {
  color: #29c5e6; }

.side_list:hover :before {
  background: #29c5e6; }

.side_banner {
  margin-top: 30px; }

.side_banner_title {
  text-transform: uppercase;
  height: 38px;
  background-color: #29c5e6;
  font: 14px Oswald, sans-serif;
  color: #fff;
  line-height: 38px;
  padding: 0 12px; }

.side_banner_img {
  box-sizing: border-box;
  padding: 11px;
  display: block;
  height: 201px;
  background-color: #f3f3f3; }
  .side_banner_img img {
    max-width: 100%; }

.hp_content {
  max-width: 680px; }

.hp_content_title {
  width: 100%;
  max-height: 100%;
  background: #29c5e6;
  font-family: Oswald, sans-serif;
  line-height: 34px; }
  .hp_content_title h1 {
    padding: 19px 30px 17px 22px;
    font-size: 33px;
    color: #fff;
    font-style: italic; }
  .hp_content_title h2 {
    font-size: 20px;
    float: right;
    padding: 0 34px 14px 0;
    color: #1d8ea6; }

.hp_content_title:after {
  content: "";
  display: table;
  clear: both; }

.hp_content_text {
  margin-top: 19px;
  color: #8f8f8f;
  font: 12px Tahoma, sans-serif;
  line-height: 18px; }

.hp_content_banner {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .hp_content_banner a {
    width: 325px;
    height: 180px;
    margin-bottom: 20px; }
  .hp_content_banner img {
    width: 100%;
    height: 100%; }

.hp_content_team {
  margin-top: 10px; }

.hp_content_team_text {
  text-transform: uppercase;
  font: 30px Oswald, sans-serif;
  color: #fff;
  background: #29c5e6;
  line-height: 44px;
  padding-left: 9px;
  margin-bottom: 20px; }

.hp_content_team_foto {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.foto {
  margin-bottom: 20px; }
  .foto h2 {
    font: 16px Oswald, sans-serif;
    color: #8f8f8f; }
  .foto p {
    font: 14px Oswald, sans-serif;
    color: #29c5e6; }

footer {
  background-color: #7e7e7e;
  height: 112px;
  display: block; }

.footer_content {
  padding-top: 15px;
  width: 960px;
  margin: 0 auto; }
  .footer_content h1 {
    text-transform: uppercase;
    font: 14px Oswald, sans-serif;
    color: #fff;
    border-bottom: 1px solid #919191; }

.tw_block {
  width: 301px;
  display: inline-block; }

.sm_block {
  display: inline-block;
  width: 151px; }

.sn_block {
  display: inline-block;
  width: 131px; }
