@import 'reset';
$mwidth: 960px;
$Osfont: Oswald, sans-serif;
body{
	background: url(../images/bg.png);
}

header {
	border-top: 5px solid #7e7e7e;  
}

.logo_top{
	display: block;
	float: left;
	margin-top: 26px;
}

.search_form{
	display: flex;
	justify-content: center;
	width: 200px;
	height: 32px;
	box-sizing: border-box;
	float: right;
	margin-top: 27px;
}
.search_button{
	background-color: #29c5e6;
	font: 14px $Osfont;
	cursor: pointer;
	border: none;
	color: #fff;
	width: 42px;
}
.search_input{
	background-color: #f3f3f3;
	padding: 0 11px;
	width: 158px;
	border: 1px solid #e7e7e7;
}
.top_header{
	width: 960px;
	height: 91px;
	margin: 0 auto;
}

